@page
@model aspnetcorewien.Pages.Modul06.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.ContactTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.ContactTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Fax)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customers.CustomerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
